header(class='main-header')
	nav(class='navbar navbar-default main-navigation')
		ul(class='nav navbar-nav navbar-left')
			li
				a(href='#' class='main-area-expand-btn')
		form(class='navbar-form navbar-left')
			div(class='form-group')
				input(class='form-control navbar-search-input' type='text' name='search' placeholder='I\'am looking for...')
		ul(class='nav navbar-nav navbar-right')
			li
				a(href='#')
					i(class='lnr lnr-alarm')
			li
				a(href='#')
					i(class='lnr lnr-user')