aside(class='sidebar')
	a(href='#' class='logo')
		span(class='logo-minified') SD
		span(class='logo-extended') Simple Dashboard
	nav(class='sidebar-nav')
		ul(class='sidebar-navigation')
			li
				a(href='#') Dashboard
			li
				a(href='#') Elements
			li
				a(href='#') Panels
			li(class='has-dropdown')
				a(href='#') Pages
					i(class='dropdown-indicator lnr lnr-chevron-right')
				ul
					li
						a(href='#') Login
					li
						a(href='#') Profile
					li
						a(href='#') Not Found		