extends _layout-nonavigation.pug

block content
	div(class='container')
		div(class='panel panel-login')
			div(class='panel-heading') Log In
			div(class='panel-body')
				form
					div(class='form-group')
						input(type='text' class='form-control' id='username' name='username' placeholder='Username')
					div(class='form-group')
						input(type='password' class='form-control' id='password' name='password' placeholder='Password')
					div(class='form-group')
						button(type=submit class='btn btn-success btn-block') Log In

	nav
		ul(class='transparent-pager')
			li
				a(href='#')
					span(aria-hidden='true') &larr; Home